@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  cursor: none;
}
.App {
  text-align: center;
}





.App-header {
  
  min-height: 10vh;
  background: rgb(15,56,91);
  background: linear-gradient(180deg, rgba(15,56,91,1) 0%, rgba(1,18,32,1) 86%);
}

.App-background {
  
  min-height: 90vh;
  background: rgb(1,18,32);
background: linear-gradient(180deg, rgba(1,18,32,1) 0%, rgba(1,18,32,1) 51%);
}
