@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  margin: 0;
  background-color: aqua;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
